html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
    font-family: 'Comic Sans MS', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color:rgb(151, 183, 242);
    border: 2px solid black;
    padding: 5px 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#headerTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}
#logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
nav { 
    width: 50%;
    display: flex;
    padding: 0px 20px 0px 5px;
    justify-content: flex-end;
}
nav a {
    padding: 2%;
}
nav a:hover {
    color:#61a5de;
}
/* Verhindern, dass visited links sich färben*/
nav a:link, a:visited {
    color: #1970c7;
}

footer {
    padding: 0px 30px;
    background-color:rgb(146, 178, 238);
    border: 2px solid black;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}

h1 {
    font-size: 1.3em;   
}
h2 {
    text-align: center;
    font-size: 3em;
    padding: 0px;
    margin: 2px;
}
#welcome {
    font-size: 2.6em;
}

.counterBox {
    position: absolute;
    top: 90px;
    right: 10px;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}
.counter {
    font-size: 1.4em;
}

/* Bild der Pizzeria af Index zentrieren */
#pizzaria {
    width: 40%;
    padding: 15px;
    display: block;
    margin: auto;
}
/* .menu sind die 3 Bilder-Links auf index.html*/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu div{
    text-align: center;
    position: relative;  
    flex: 1;
    overflow: hidden;
    aspect-ratio: 3/2;
    margin: 5px 4% 20px 4%;
    
}
.menu div img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.menu div a {
    position: absolute;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 2.8em;
    /* Text zentrieren */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .gallery ist für pizza.html*/
#pizzaGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 8px;
}
.pizzaItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px;
    margin: 10px;
    width: 300px;
}
.pizzaItem p {
    font-size: 0.9em;
    padding: 0px;
    margin: 0px;
}
.pizzaName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 5px 5px 5px 0px;
    font-size: 1.4em;
}
.pizzaPrice {
    width: 25%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* Make button invisible and change cursor*/
.addToCart, #resetCart {
    background: transparent;
    border: none;
    cursor: pointer;
}
.addToCart img {
    width: 100%;
    height: 100%;
}
/* light up cart iamge while hovering*/
.addToCart:hover img, #resetCart:hover img {
    opacity: 0.8;
}

img[src*="images/shoppingcart.png"] {
     max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-width: 30px;
} 
.pizzaImage {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

/* Da die Gallerien bei salad.html und soft.html ähnlich sind, habe ich 
gewisse Befehle für beide zusammengefasst*/
#saladGallery, #softGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.saladItem, .softItem {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px;
    margin: 10px;
}

.softItem {
    width: 20%;
}

.saladImg {
    height: 260px;
    
}

.softImg {
    max-height: 460px;
}

.saladName, .softName {
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
}
/* softdrinks haben keine Beschreibung*/
.saladDesc {
    font-size: 0.9em;
    padding: 5px;
    margin: 0px;
}
/* Customize ist der Container, der die Auswahl und den Preis enthält, 
damit sie nebeneinande sein können*/
.saladCustomize, .softCustomize {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}
/* Salatdressing Auswahl */
.saladCustomize select {
    font-size: 0.9em;
    border: 2px solid black;
}
/* Softdrinks Volumen Auswahl*/
.softCustomize select {
    width: 30%;
    font-size: 0.9em;
    border: 2px solid black;
}
/* Preis und Einkaufswagen werden in eine Box gelegt, um näher beisammen zu sein, als die Select Box*/
.saladPrice, .softPrice {
    width: 30%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* Alles bis zum media screen ist fürs Feedback*/
/* Fragen und Antwort in #boxes nebeneinander und über Submit*/
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 15%;
    margin-right: 25%;
}
#boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#submit {
    align-self: flex-end;
}
/* Fragen formatieren linke Box*/
#questions {
    display: flex;
    flex-direction: column;
    width: 48%;  
}
#questions p {
    padding: 2.6px;
    margin: 0px;
    align-self: flex-end;
}
/* Antwortboxen formatieren rechte Box*/
#answers {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    width: 48%;
}
#answers div {
    padding: 2px;
}

/* Inputboxen auf ganze Containerlänge ziehen*/
input[type=text], input[type=email]{
    width: 98%;  
}
textarea {
    width: 99%;
    min-height: 100px;
}
/* Verteilung der Auswahlmöglichkeiten*/
#formPizza {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#formPrice {
    display: flex;
    justify-content: space-between;
}
/* Fieldset minimieren, Einfluss auf Formular-Ausrichtung entfernen */
fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

/*Formatierung von danke.html*/
#dankeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*Fake-Button für 'Back to Page'erstellen*/
#dankeBox a {
    text-decoration: none;
    color: black;
    padding: 3px 5px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}

/* Es folgen nur noch media screens für responsive Design */

/* Big Screens */
@media screen and (min-width: 1642px) {

    #pizzaria {
        width: 35%;
    }
    .menu div {
        max-width: 20%;
    }

    .pizzaItem {
        width: 380px;
    }
    .pizzaImage {
        height: 280px;
    }

    .saladItem, .softItem {
        width: 20%;
    }
} 

/* Slowly shrunken screen */
@media screen and (min-width: 640px) and (max-width: 980px) {

    
    footer {
        font-size: 0.8em;
    } 

    #welcome {
        font-size: 2.2em;
    }
    #pizzaria {
        width: 60%;
    }
    .menu div a {
        font-size: 2.5em;
    }
    .pizzaItem {
        width: 35vw;
    }
    .saladItem, .softItem {
        width: 40%;
    }
    .saladPrice img {
        width: 1.6em;
        height: 1.6em;
    }
    .softCustomize select {
        width: 50%;
    }
    form {
        width: 80%;
        margin-left: 4%;
        margin-right: 16%;
    }
}
/* Mittelding um Zeilenumbrüche zu vermeiden*/
@media screen and (max-width: 780px) {

    .menu div a {
        font-size: 2em;
    }
    
    form {
        width: 92%;
        font-size: 0.8em;
        margin-left: 0%;
        margin-right: 6%;
    }
    #questions {
        width: 45%;
    }
    #questions p {
        padding: 3.1px;
    }
    #answers {
        width: 55%;
    }
}


/* Ungefähre Handybreite*/
@media screen and (max-width: 640px) {

    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header div {
        
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-around;
    }

    footer {
        font-size: 1.1em;
        padding: 5px;
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 2.2em;
    }
    .counterBox {
        top: 140px;
    }

    #pizzaria {
        width: 100%;
    }
    .menu div {
        min-width: 275px;
        max-width: 400px;
    }
    .menu div a {
        font-size: 2.8em;
    }
    .saladItem img {
        height: 200px;
    }

    .menu, #pizzaGallery, .row {
        flex-direction: column;
        align-items: center; 
    }

    .pizzaItem, .saladItem, .softItem {
        width: 60%;
    }

    form {
        width: 98%;
        font-size: 0.7em;
        margin-left: 0%;
        margin-right: 2%;
    }
    #questions {
        width: 43%;
    }
    #questions p {
        padding: 4px;
    }

    #answers {
        width: 57%;
    }
    .formWrap {
        margin: 5px 0px ;
        padding: 10px 0px;
    }

}

/* Anpassungen für PDFs*/
@media print {
    
    #pizzaria {
        width: 80%;
    }

    .counterBox {
        display: none;
    }
    
   
    footer {
        font-size: 15px;
    }
    .softItem, .saladItem {
        width: 40%;
    }

    .saladItem img {
        height: 200px;
    }
}


